.menu {
    &_wrap {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 2;
    }

    &_content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    &_auth {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        color: #333;

        &_signup {
            margin-left: 8px;
        }
        &_signup, &_signin:hover {
            cursor: pointer;
        }
    }

    &_logo {
        width: 206px;

        img {
            width: 100%;
        }
    }
}