.filter {
    &_wrap {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

    }

    &_content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 10px 0;
    }
    &_item {
        padding: 8px 14px;
        font-size: 14px;

        & + & {
            border-left: 1px solid #000;
        }

        &:first-child {
            border-left: 1px solid #000;
        }

        &:last-child {
            border-right: 1px solid #000;
        }
    }
}